* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    background-color: var(--Yellow);
    font-family: 'Figtree', sans-serif;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: var(--White);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0.625rem 0.625rem var(--Black);
    border: 1px solid var(--Black);
    margin-bottom: 1.5rem;  
}

.imag {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container img {
    border-radius: 0.625rem;
    display: block;

}

.learn {
    text-align: left;
    margin: 0.3rem;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 800;
    display: inline-block;
    padding: 0.3rem;
    padding-inline: 0.8rem;
    background-color: var(--Yellow);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.pub {
    margin-left: 0.4rem;
    font-size: 14px;
    display: block;
    margin-bottom: 1rem;
}

h1 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-left: 0.4rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    letter-spacing: -0.05rem;
}

h1:hover {
    color: var(--Yellow);
}

p {
    color: var(--Grey);
    line-height: 1.5rem;
    margin-left: 0.4rem;
    margin-bottom: 1.5rem;
}

.avname {
    display: flex;
    align-items: center;
}

.av img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.4rem;
}

h2 {
    margin-left: 1rem;
    font-size: 14px;
    letter-spacing: -0.02rem;
    font-weight: 800;
}

.attribution {
     font-size: 11px; text-align: center; 
    }

.attribution a {
     color: hsl(228, 45%, 44%); 
    }

@media(min-width: 375px) {
    .container {
        width: 375px;
    }
}


